<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="js/angular.min.js" ></script>
    <script type="text/javascript" src="js/app.js" ></script>
    <title>喜欢我的好友列表</title>
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body ng-app="likemefreindApp">
	<div class="L-freindsTitle">
		<img src="img/back.png" style="width: 15px;height: 15px;"/>
		<div><center>喜欢我的</center></div>
	</div>
	<div class="L-myFreinds" ng-controller="myCtrl">
		<ul>
			<li id="L-freinds" ng-repeat="item in likemefreind">
				<img src="{{item.icon}}" class="L-freindPhoto" style="width: 30px;">
				<div class="L-freindLikeMe">
					<p>
						<span class="L-freindName">{{item.name}}</span>
						<img src="img/icon_boy.png" ng-if="item.sex=='boy'" class="sex" style="width: 15px;height: 20px;">
						<img src="img/icon_girl.png" ng-if="item.sex=='girl'" class="sex" style="width: 15px;height: 20px;">
					</p>
					<p class="L-freindSchool">
						{{item.school}}&nbsp;&nbsp;&nbsp;<span>{{item.subSchool}}</span>
						<span id="L-freindDialog">
							<!--<button id="L-dialog">临时对话</button>&nbsp;&nbsp;&nbsp;-->
							<button id="L-dialog" ng-if="item.isFriend=='1'">开始对话</button>
							<button id="L-dialog" ng-if="item.isFriend==='0'">临时对话</button>&nbsp;&nbsp;&nbsp;
							<button id="isadd" ng-if="item.isFriend=='1'">已添加</button>
							<button id="L-addFreinds" ng-if="item.isFriend==='0'">+好友</button>
						</span>
					</p>
				</div>
			</li>
			<!--<li id="L-freinds">
				<img src="img/photo.png" class="L-freindPhoto" style="width: 30px;">
				<div class="L-freindLikeMe">
					<p>
						<span class="L-freindName">阿曼</span>
						<img src="img/icon_boy.png" class="sex" style="width: 15px;height: 20px;">
					</p>
					<p class="L-freindSchool">
						北京大学&nbsp;&nbsp;&nbsp;<span>音乐学院</span>
						<span id="L-freindDialog">
							<button id="L-dialog">临时对话</button>&nbsp;&nbsp;&nbsp;<button id="L-addFreinds">+好友</button>
						</span>
					</p>
				</div>
			</li>
			<li id="L-freinds">
				<img src="img/photo.png" class="L-freindPhoto" style="width: 30px;">
				<div class="L-freindLikeMe">
					<p>
						<span class="L-freindName">阿曼</span>
						<img src="img/icon_boy.png" class="sex" style="width: 15px;height: 20px;">
					</p>
					<p class="L-freindSchool">
						北京大学&nbsp;&nbsp;&nbsp;<span>音乐学院</span>
						<span id="L-freindDialog">
							<button id="L-dialog">临时对话</button>&nbsp;&nbsp;&nbsp;<button id="L-addFreinds">+好友</button>
						</span>
					</p>
				</div>
			</li>
			<li id="L-freinds">
				<img src="img/photo.png" class="L-freindPhoto" style="width: 30px;">
				<div class="L-freindLikeMe">
					<p>
						<span class="L-freindName">阿曼</span>
						<img src="img/icon_boy.png" class="sex" style="width: 15px;height: 20px;">
					</p>
					<p class="L-freindSchool">
						北京大学&nbsp;&nbsp;&nbsp;<span>音乐学院</span>
						<span id="L-freindDialog">
							<button id="L-dialog">临时对话</button>&nbsp;&nbsp;&nbsp;<button id="L-addFreinds">+好友</button>
						</span>
					</p>
				</div>
			</li>
			<li id="L-freinds">
				<img src="img/photo.png" class="L-freindPhoto" style="width: 30px;">
				<div class="L-freindLikeMe">
					<p>
						<span class="L-freindName">阿曼</span>
						<img src="img/icon_girl.png" class="sex" style="width: 15px;height: 20px;">
					</p>
					<p class="L-freindSchool">
						北京大学&nbsp;&nbsp;&nbsp;<span>音乐学院</span>
						<span id="L-freindDialog">
							<button id="L-dialog">临时对话</button>&nbsp;&nbsp;&nbsp;<button id="L-addFreinds">+好友</button>
						</span>
					</p>
				</div>
			</li>
			<li id="L-freinds">
				<img src="img/photo.png" class="L-freindPhoto" style="width: 30px;">
				<div class="L-freindLikeMe">
					<p>
						<span class="L-freindName">阿曼</span>
						<img src="img/icon_girl.png" class="sex" style="width: 15px;height: 20px;">
					</p>
					<p class="L-freindSchool">
						北京大学&nbsp;&nbsp;&nbsp;<span>音乐学院</span>
						<span id="L-freindDialog">
							<button id="L-dialog">临时对话</button>&nbsp;&nbsp;&nbsp;<button id="L-addFreinds">+好友</button>
						</span>
					</p>
				</div>
			</li>
			<li id="L-freinds">
				<img src="img/photo.png" class="L-freindPhoto" style="width: 30px;">
				<div class="L-freindLikeMe">
					<p>
						<span class="L-freindName">阿曼</span>
						<img src="img/icon_boy.png" class="sex" style="width: 15px;height: 20px;">
					</p>
					<p class="L-freindSchool">
						北京大学&nbsp;&nbsp;&nbsp;<span>音乐学院</span>
						<span id="L-freindDialog">
							<button id="L-dialog">临时对话</button>&nbsp;&nbsp;&nbsp;<button id="L-addFreinds">+好友</button>
						</span>
					</p>
				</div>
			</li>
			<li id="L-freinds">
				<img src="img/photo.png" class="L-freindPhoto" style="width: 30px;">
				<div class="L-freindLikeMe">
					<p>
						<span class="L-freindName">阿曼</span>
						<img src="img/icon_boy.png" class="sex" style="width: 15px;height: 20px;">
					</p>
					<p class="L-freindSchool">
						北京大学&nbsp;&nbsp;&nbsp;<span>音乐学院</span>
						<span id="L-freindDialog">
							<button id="L-dialog">临时对话</button>&nbsp;&nbsp;&nbsp;<button id="L-addFreinds">+好友</button>
						</span>
					</p>
				</div>
			</li>-->
		</ul>
	</div>
</body>
</html>