
<div class="swiper-container star-lunbo">
    <div class="swiper-wrapper">

        <div class="swiper-slide" ng-repeat="starimg in star.starimgs">
            <img src="{{starimg.img}}" style="width: 100%">
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>
<div class="star-body">
    <ul infinite-scroll='star.nextPage()' infinite-scroll-disabled='star.busy' infinite-scroll-distance='1'>
        <li ng-repeat="item in star.items">
            <div class="container">
                <!--跳转个人主页-->
                <img class="img-responsive jiaobiao" src="img/jiaobiao.png">

                <div class="star-person" onclick="" data-userid="">
                    <img class="img-responsive " src="{{item.personimg}}">
                </div>

                <div class="star-school" onclick="" data-userid="">
                    <p>{{item.name}}</p>

                    <p class="pull-left">{{item.school}}</p>

                    <p class="pull-right text-right">{{item.lvl}}级</p>
                </div>
                <div class="add-friend-star isadd" ng-if="item.isadd==true">已添加</div>
                <div class="add-friend-star" ng-if="item.isadd==false">+好友</div>
            </div>
        </li>
    </ul>
</div>
<script>
    var mySwiper = new Swiper('.star-lunbo', {
        direction: 'horizontal',
        autoplay: 5000,
//        // 如果需要分页器
        pagination: '.swiper-pagination'

    })
</script>